@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: oswald!important;
}

@layer components {
  .card {
    @apply bg-[#1C1C1C] border-2 border-[#2E3A59] rounded-xl py-1 px-3 flex justify-between;
  }
}

@theme {
  --breakpoint-xs: 27rem;
  --color-bat-signal: #FFD700;
}